nav{
    background-color: #1B1B1B;
    margin-bottom: 6px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 12px;
    flex-direction: row;
    gap: 20vw;
    list-style-type: none;
}
.routing{
    display: flex;
    flex-direction: row;
    gap: 3vw;
}
.perfil > a{
    display: flex;
    font-size: 0.8rem;
    flex-wrap: wrap;
}